<div class="full">
  <div class="grid">
    <div class="col-md-12 centered-bootstrap-cell">
      <div class="content" [ngSwitch]="page_no">
        <div class="main-data">
          <div class="scroll-inner">
            <div class="listings_1 mt-sm" *ngSwitchCase="1">
              <div class="row">
                <div class="col-md-12">
                  <button class="btn mt-none mb-sm" (click)="onReturnListing()">
                    <i class="fa fa-chevron-left"></i>
                    <span>Return to Store Listing</span>
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="card">
                    <div class="carousel">
                      <owl-carousel [options]="{items: 1, dots: true, loop:true, nav: true, navClass: ['owl-prev', 'owl-next'],navText: ['<i></i>', '<i></i>']}"
                        [items]="allImages">
                        <div class="item" *ngFor="let image of allImages;let i = index">
                          <img src="{{image['url']}}" class="img-responsive" style="height: 500px;">
                        </div>
                      </owl-carousel>
                    </div>
                    <div>
                      <div class="col-md-12">
                        <div class="fix_size" style="background-image:url('/assets/img/listings/upload.png');">
                          <div class="upload">
                            <label for="upload_file" class="mb-none">Add</label>
                          </div>
                          <input type="file" name="upload_file" id="upload_file" accept="image/*" (change)="onFileSelected($event)" multiple>
                        </div>

                        <div class="fix_size" *ngFor="let img of allImages;let i = index;">
                          <img src="{{img['url']}}" class="img-responsive">
                          <span class="zoom" (click)="remove_image(i)">
                            <i class="fa fa-remove"></i>
                          </span>
                        </div>
                      </div>
                      <div *ngIf="allImages.length == 0 && save_flag" class="col-md-12 mt-md validation">
                        Please upload images.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <form class="card form-horizontal form-bordered" ngNoForm>
                    <div class="form-group">
                      <label class="col-md-3 control-label">Title
                        <span class="required">*</span>: </label>
                      <div class="col-md-9">
                        <input class="form-control" [(ngModel)]="title" required #re_title="ngModel">
                        <div *ngIf="re_title.invalid && save_flag" class="validation">
                          Please input this filed.
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-3 control-label">Price
                        <span class="required">*</span>: </label>
                      <div class="col-md-5">
                        <input type="text" class="form-control" [(ngModel)]="price" required #re_price="ngModel">
                        <div *ngIf="re_price.invalid && save_flag" class="validation">
                          Please input this filed.
                        </div>
                      </div>
                      <div class="col-md-4">
                        <select class="form-control" [(ngModel)]="price_unit">
                          <option value="{{code}}" *ngFor="let code of allCountries">{{code}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-3 control-label">Condition: </label>
                      <div class="col-md-9">
                        <select class="form-control" [(ngModel)]="condition">
                          <option value="{{temp}}" *ngFor="let temp of allConditions">{{temp}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-3 control-label">Type: </label>
                      <div class="col-md-9">
                        <select class="form-control" [(ngModel)]="contractType">
                          <option value="{{temp}}" *ngFor="let temp of allTypes">{{temp}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-3 control-label">SKU: </label>
                      <div class="col-md-9">
                        <input class="form-control" [(ngModel)]="sku">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-3 control-label">Tags
                        <span class="required">*</span>: </label>
                      <div class="col-md-9">
                        <tags-input class="form-control input-lg" [removeLastOnBackspace]="true" [(ngModel)]="tags" required #re_tags="ngModel"></tags-input>
                        <div *ngIf="re_tags.invalid && save_flag" class="validation">
                          Please input this filed.
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-3 control-label">Categories
                        <span class="required">*</span>: </label>
                      <div class="col-md-9">
                        <tags-input class="form-control input-lg" [removeLastOnBackspace]="true" [(ngModel)]="categories" required #re_cats="ngModel"></tags-input>
                        <div *ngIf="re_cats.invalid && save_flag" class="validation">
                          Please input this filed.
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-3 control-label">Mature Content: </label>
                      <div class="col-md-9">
                        <input type="radio" id="yes" name="test" value="true" [(ngModel)]="mature_content">
                        <label for="yes" style="margin: 20px 0 0 10px;">Yes</label>
                        <input type="radio" id="no" name="test" value="false" [(ngModel)]="mature_content" style="margin-left: 3em;">
                        <label for="no" style="margin: 20px 0 0 10px;">No</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-3 control-label">Reviews: </label>
                      <div class="col-md-9">
                        <textarea class="form-control" rows="5" [(ngModel)]="reviews" disabled></textarea>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div class="listings_2 mt-sm" *ngSwitchCase="2">
              <div class="row">
                <div class="col-md-12">
                  <div class="description">
                    <h4 class="control-label mb-md">Description</h4>
                    <app-ngx-editor [placeholder]="'Enter text here...'" [config]="editorConfig" [spellcheck]="true" [(ngModel)]="description"></app-ngx-editor>
                  </div>
                </div>
              </div>

              <div class="row mt-xl">
                <div class="col-md-12">
                  <div class="form-horizontal form-bordered">
                    <div class="card">
                      <div class="row form-group mt-md">
                        <div class="col-lg-2">
                          <div class="form-group">
                            <h4 class="col-form-label">Shipping Options</h4>
                          </div>
                        </div>
                        <div class="col-lg-2">
                          <div class="form-group">
                            <button class="mt-none btn pull-left" title="Add a new shipping option" (click)="onAddShipping()">
                              <i class="fa fa-plus"></i>
                            </button>
                            <button class="mt-none btn pull-left ml-xl" title="Remove selected shipping option" (click)="onDeleteShipping()">
                              <i class="fa fa-minus"></i>
                            </button>
                          </div>
                        </div>
                        <div class="col-lg-2">
                          <select class="form-control" [(ngModel)]="shipping_filter" (change)="onShippingsFilter($event.target.value)">
                            <option *ngFor="let temp of shipping_options;let i = index;">{{temp.name}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="row form-group">
                        <div class="col-lg-12">
                          <div class="form-group">
                            <label class="col-form-label">Destinations
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                          <label class="col-lg-1 pt-xs">Countires<span class="required">*</span>: </label>
                          <div class="col-lg-7">
                              <ng-multiselect-dropdown [placeholder]="'Select Destination'" [data]="destinations_name" [(ngModel)]="selected_option['regions']"
                                [settings]="destination_Settings" required #re_destinations="ngModel">
                              </ng-multiselect-dropdown>
                              <div *ngIf="re_destinations.invalid && save_flag" class="validation">
                                Please input this filed.
                              </div>
                          </div>
                          <div class="col-lg-4">
                            <label class="mr-xl">Filter By Regions: </label>
                            <select class="form-control" [(ngModel)]="filter_key" (change)="onRegionsFilter($event.target.value)" style="width:60%;display: inline;">
                              <option value="{{temp.key}}" *ngFor="let temp of filter_regions;">{{temp.key}}</option>
                            </select>
                          </div>
                        </div>
                      <div class="row form-group">
                        <div class="col-lg-6">
                          <div class="row form-group">
                            <label class="col-form-label">Option Title
                              <span class="required">*</span>
                            </label>
                            <input type="text" class="form-control" placeholder="" [(ngModel)]="selected_option['name']" (keyup)="inputTitle($event)"
                              required #re_optionTitle="ngModel">
                            <div *ngIf="re_optionTitle.invalid && save_flag" class="validation">
                              Please input this filed.
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="col-form-label">Type
                              <span class="required">*</span>
                            </label>
                            <select class="form-control" [(ngModel)]="selected_option['type']" required #re_optionType="ngModel">
                              <option value="Local Pickup">Local Pickup</option>
                              <option value="FIXED PRICE">FIXED PRICE</option>
                            </select>
                            <div *ngIf="re_optionType.invalid && save_flag" class="validation">
                              Please input this filed.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row form-group" *ngIf="selected_option['services'].length > 0">
                        <div class="col-lg-3">
                          <div class="row form-group">
                            <label class="col-form-label">Service
                              <span class="required">*</span>
                            </label>
                          </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label class="col-form-label">Est.Delivery Time
                              <span class="required">*</span>
                            </label>
                          </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="row form-group">
                            <label class="col-form-label">Price(first item)
                              <span class="required">*</span>
                            </label>
                          </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label class="col-form-label">Price(additional item)
                              <span class="required">*</span>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="row form-group" [ngClass]="{'mt-md': i != 0}" *ngFor="let temp of selected_option['services'];let i = index">
                        <div class="col-lg-3">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="" [(ngModel)]="temp.name" required #re_service="ngModel">
                            <div *ngIf="re_service.invalid && save_flag" class="validation">
                              Please input this filed.
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="" [(ngModel)]="temp.estimatedDelivery" required #re_deliveryTime="ngModel">
                            <div *ngIf="re_deliveryTime.invalid && save_flag" class="validation">
                              Please input this filed.
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="" [(ngModel)]="temp.price" required #re_firstPrice="ngModel">
                            <div *ngIf="re_firstPrice.invalid && save_flag" class="validation">
                              Please input this filed.
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-2">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="" [(ngModel)]="temp.additionalItemPrice" required #re_additionalPrice="ngModel">
                            <div *ngIf="re_additionalPrice.invalid && save_flag" class="validation">
                              Please input this filed.
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-1">
                          <div class="form-group">
                            <button class="mt-none btn" (click)="onDeleteService(i)">
                              <i class="fa fa-trash"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="row form-group">
                        <div class="col-md-3 mt-md">
                          <a (click)="onAddService()">
                            <i class="fa fa-plus"></i>&nbsp;&nbsp;
                            <span class="label">Add Services</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="listings_2 mt-sm" *ngSwitchCase="3">
              <div class="row">
                <div class="col-md-12 form-horizontal form-bordered">
                  <div class="card">
                    <h4 class="col-lg-8 control-label">Inventory Management</h4>
                    <div class="row form-group pt-md">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <select class="form-control" [(ngModel)]="inventory_flag" (change)="onInventoryManagement($event.target.value)">
                            <option value="0">Do not track inventory</option>
                            <option value="1">Track inventory</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group" *ngIf="quantity_flag == 1">
                        <label style="padding-top: 8px;margin-right: 10px;padding-left: 10px;">Quantitiy<span class="required">*</span>:</label>
                      </div>
                      <div class="col-lg-4" *ngIf="quantity_flag == 1">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="" [(ngModel)]="quantity" required #re_invenQuantity="ngModel">
                            <div *ngIf="re_invenQuantity.invalid && save_flag" class="validation">
                                Please input this filed.
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card mt-xl">
                    <h4 class="col-lg-8 control-label">Variants(Add additional size, colors, materials, ect)</h4>
                    <div class="row form-group" *ngIf="variants.length > 0">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="col-form-label">Title
                            <span class="required">*</span>
                          </label>
                        </div>
                      </div>
                      <div class="col-lg-5">
                        <div class="form-group">
                          <label class="col-form-label">Choices
                            <span class="required">*</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row form-group mt-md" *ngFor="let temp of variants;let i = index">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="e,g Size, Color, Material, etc" [(ngModel)]="temp.name" required #re_variantsTitle="ngModel">
                          <div *ngIf="re_variantsTitle.invalid && save_flag" class="validation">
                            Please input this filed.
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-5">
                        <div class="form-group">
                          <tags-input class="form-control input-lg" minlength="2" (onTagsChanged)="onChoicesEvent()" [removeLastOnBackspace]="true"
                            [(ngModel)]="temp['choices']" [placeholder]="'e.g. Small, Medium, Large. etc'" required #re_variantsChoice="ngModel"></tags-input>
                          <div *ngIf="re_variantsChoice.invalid && save_flag">
                            <div *ngIf="re_variantsChoice.hasError('required')" class="validation">
                              Please input this filed.
                            </div>
                            <div *ngIf="re_variantsChoice.hasError('minlength')" class="validation">
                              Please input least 2 values to this filed.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-1">
                        <div class="form-group">
                          <button class="mt-none btn" (click)="onDeleteVariants(i)">
                            <i class="fa fa-trash"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="row form-group">
                      <div class="col-md-3 mt-md">
                        <a (click)="onAddVariants()">
                          <i class="fa fa-plus"></i>&nbsp;&nbsp;
                          <span class="label">Add Variant</span>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="card mt-xl">
                    <h4 class="col-lg-8 control-label">Variant Inventory</h4>
                    <div class="col-lg-12 row form-group pt-md">
                      <label *ngIf="variant_inventory.length == 0">The variant inventory table will appear when you have declared at least one variant with at least one
                        choice.</label>
                      <table class="table table-responsive-md table-bordered mb-0" *ngIf="variant_inventory.length > 0">
                        <thead>
                          <th *ngFor="let temp of variants" [ngClass]="{'hidden': temp['choices'].length == 0}">{{temp.name}}</th>
                          <th>Surcharge</th>
                          <th>TotalPrice</th>
                          <th>Sku</th>
                          <th *ngIf="inventory_flag == 1">Quantitiy</th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let inventory of variant_inventory;let i = index;">
                            <td *ngFor="let variant of inventory['data'];">
                              <label>{{variant}}</label>
                            </td>
                            <td>
                              <input type="text" class="form-control" [(ngModel)]="inventory['surcharge']">
                            </td>
                            <td>
                              <label>$15</label>
                            </td>
                            <td>
                              <input type="text" class="form-control" placeholder="SKU, ID, etc" [(ngModel)]="inventory['productID']">
                            </td>
                            <td *ngIf="inventory_flag == 1">
                              <div class="col-md-6">
                                <input type="text" class="form-control" [(ngModel)]="inventory['quantity']" required #re_quantitiy="ngModel">
                                <div *ngIf="re_quantitiy.invalid && save_flag" class="validation">
                                  Please input this filed.
                                </div>
                              </div>
                              <input type="checkbox" id="quantity" style="margin: 12px 0 0 20px;" (change)="unlimited($event, i)">
                              <label for="quantity" style="margin-left: 5px;">unlimited</label>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="card mt-xl">
                    <h4 class="col-lg-8 control-label">Return Policy</h4>
                    <div class="row form-group">
                      <div class="col-lg-12">
                        <div class="form-group pt-md">
                          <textarea class="form-control" rows="8" placeholder="What is your return policy? How many days are returns accepted for? Who pays for return shipping (if needed)? etc"
                            [(ngModel)]="return_policy"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="listings_2 mt-sm" *ngSwitchCase="4">
              <div class="row">
                <div class="col-md-12 form-horizontal form-bordered">
                  <div class="card mt-xl">
                    <h4 class="col-lg-8 control-label">Terms and Conditions</h4>
                    <div class="row form-group">
                      <div class="col-lg-12">
                        <div class="form-group pt-md">
                          <textarea class="form-control" rows="8" [(ngModel)]="terms_condition" placeholder="What are the terms and conditions of the listing? What are you responsible for as the vendor? Is there a warranty? When is the transaction final? etc"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card mt-xl">
                    <h4 class="col-lg-8 control-label">Coupons</h4>
                    <div class="row form-group" *ngIf="coupons.length > 0">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="col-form-label">Title
                            <span class="required">*</span>
                          </label>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="col-form-label">Coupon Code*
                            <span class="required">*</span>
                          </label>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label class="col-form-label">Discount
                            <span class="required">*</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row form-group mt-md" *ngFor="let temp of coupons;let i = index">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="" [(ngModel)]="temp.title" required #re_couponTitle="ngModel">
                          <div *ngIf="re_couponTitle.invalid && save_flag" class="validation">
                            Please input this filed.
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="" [(ngModel)]="temp.discountCode" required #re_couponCode="ngModel">
                          <div *ngIf="re_couponCode.invalid && save_flag" class="validation">
                            Please input this filed.
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <div class="input-group">
                            <input type="text" class="form-control" [(ngModel)]="temp.percentDiscount" required #re_discount="ngModel">
                            <select style="padding: 0.5rem 0.75rem;border-radius: 0;">
                              <option>percent</option>
                              <option>fixed</option>
                            </select>
                          </div>
                          <div *ngIf="re_discount.invalid && save_flag" class="validation">
                            Please input this filed.
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-1">
                        <div class="form-group">
                          <button class="mt-none btn" (click)="onDeleteCoupons(i)">
                            <i class="fa fa-trash"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="row form-group">
                      <div class="col-md-3 mt-md">
                        <a (click)="onAddCoupons()">
                          <i class="fa fa-plus"></i>&nbsp;&nbsp;
                          <span class="label">Add Coupon</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="bottom-bar mt-md">
          <div class="col-md-12 form-horizontal form-bordered">
            <div class="portfolio-title">
              <div class="row">
                <div class="col-md-3"></div>
                <div class="portfolio-nav col-md-6">
                  <a (click)="previous()" class="portfolio-nav-prev pull-left" [ngClass]="{'disabled': page_no == 1}">
                    <i class="fa fa-chevron-left"></i>
                    <span class="prev">Previous</span>
                  </a>
                  <a (click)="next()" class="portfolio-nav-next pull-right" [ngClass]="{'disabled': page_no == 4}">
                    <span class="next">Next</span>
                    <i class="fa fa-chevron-right"></i>
                  </a>
                </div>
                <div class="col-md-3"></div>
              </div>
            </div>

            <div class="row pr-md">
              <div class="col-lg-12 pr-none">
                <div class="pull-right">
                  <button mat-raised-button class="btn submit-btn" (click)="onReturnListing()">Cancel</button>
                  <button mat-raised-button class="btn submit-btn" (click)="onSave()">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>