<div class="dashboard full">
    <div class="search-nav">
      <div class="col-xs-11">
        <div class="search-box">
          <div class="input-wr">
            <mat-form-field (keydown)="keyDownFunction($event)">
              <!--<span matPrefix><mat-icon>search</mat-icon></span>-->
              <mat-placeholder><mat-icon>search</mat-icon> Search</mat-placeholder>

              <!--<span class="mat-suffix">-->
                <!--<mat-chip-list>-->
                  <!--<mat-chip>all</mat-chip> &nbsp;-->
                  <!--<mat-chip>stores</mat-chip>-->
                  <!--<mat-chip>listings</mat-chip>-->
                <!--</mat-chip-list>-->
              <!--</span>-->
              <span matSuffix class="search-box-chips">
                <span class="chip" [ngClass]="{ 'selected': searchResultsFilter == 'all' }" (click)="toggleSearchResultsFilter('all')">All</span>
                <span class="chip" [ngClass]="{ 'selected': searchResultsFilter == 'stores' }" (click)="toggleSearchResultsFilter('stores')">Stores</span>
                <span class="chip" [ngClass]="{ 'selected': searchResultsFilter == 'listings' }" (click)="toggleSearchResultsFilter('listings')">Listings</span>
              </span>
              <input matInput  [(ngModel)]="searchTerm" name="searchField">
            </mat-form-field>
          </div>

          <app-search></app-search>
        </div>
      </div>
      <div class="col-xs-1">
        <div class="button-wr">
          <button mat-fab color="primary" (click)="search()" [disabled]="! searchTerm"><mat-icon>search</mat-icon></button>
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="col-xs-12 col-md-6 grid-item">
        <div class="content" (click)="stores()">
          <div class="item-img">
            <img src="/assets/img/dashboard/stores.svg" alt="">
          </div>
          <div class="item-title"><span class="title">Stores</span></div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 grid-item">
        <div class="content">
          <div class="item-img">
            <img src="/assets/img/dashboard/orders.svg" alt="">
          </div>
          <div class="item-title"><span class="title">Orders</span></div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 grid-item">
        <div class="content">
          <div class="item-img">
            <img src="/assets/img/dashboard/wallets.svg" alt="">
          </div>
          <div class="item-title"><span class="title">Wallets & cases</span></div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 grid-item">
        <div class="content" routerLink="/account-settings">
          <div class="item-img">
            <img src="/assets/img/dashboard/settings.svg" alt="">
          </div>
          <div class="item-title"><span class="title">account settings</span></div>
        </div>
      </div>
  </div>
</div>
