.full {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 5em 0 4em 0;
}

.grid {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px;
    box-sizing: content-box;
}

.content {
    padding: 0 2em 2em;
}

.main-data {
    height: 700px;
    width: 100%;
    // overflow-y: hidden;
    overflow-x: hidden;
}

.scroll-inner {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    // padding-right: 17px;
    // box-sizing: content-box;
}

.form-horizontal .control-label {
    padding-top: 10px;
    margin-bottom: 0;
    // text-align: right;
}

.ng2-file-input-drop-container button {
    margin-left: 50px;
}

.required {
    display: inline-block;
    color: #d2322d;
    font-size: 0.8em;
    font-weight: bold;
    position: relative;
    top: -0.2em;
}

.listings_1 form {
    padding: 20px 0 0 0;
}

.listings_2 .form-group {
    margin-left: 0;
    margin-bottom: 0;
}

.listings_2 form {
    padding: 5px 0 20px 0;
}

.pd-0 {
    padding: 0 !important;
}

span.prev {
    font-weight: normal;
    font-size: 1.7em;
    margin-left: 15px;
}

span.next {
    font-weight: normal;
    font-size: 1.7em;
    margin-right: 15px;
}

a {
    cursor: pointer;
    color: #0088cc !important;
}

a.disabled {
    color: #AAA !important;
    cursor: default;
}

button.mt-none {
    margin-top: 0 !important;
}

.description {
    background-color: #fff;
    padding: 10px 15px 15px 15px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card {
    padding-bottom: 15px;
}

h4, .h4 {
    font-size: 1.2rem;
}

div.trash {
    margin-top: 8px;
    float: right;
}

.form-horizontal label {
    font-weight: normal;
}

.fix_size {
    margin-left: 10px;
    height: 100px;
    width: 100px;
    background-size: 100% 100%;
    float:left;
    position: relative;
}

#upload_file {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.fix_size .zoom {
    background: #0088cc;
    border-radius: 100%;
    bottom: 8px;
    color: #FFF;
    display: block;
    height: 30px;
    padding: 3px;
    position: absolute;
    top: 0px;
    text-align: center;
    width: 30px;
}

span.zoom {
    cursor: pointer;
}

.upload {
    position: absolute;
    top: 60%;
    left: 20px;
    width: 60px;
    text-align: center;
    border: 1px solid #DDD;
}

.validation {
    color: red;
}

.col-md-3 {
    padding-right: 10px;
}
// ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
//     color: black;
//     opacity: 0.4; /* Firefox */
// }

// :-ms-input-placeholder { /* Internet Explorer 10-11 */
//     color: black;
// }

// ::-ms-input-placeholder { /* Microsoft Edge */
//     color: black;
// }