<div class="full">
    <mat-card class="example-card">
      <div>
        <h4>{{data.title}}</h4>
        <label *ngIf="data.mode !== 'validation'">{{data.content}}</label>
        <label *ngIf="data.mode == 'validation'">{{data.content.split(",")[0]}}
          <span style="color:red;">&nbsp;{{data.content.split(",")[1]}}</span>&nbsp;is missing. It is required field.
        </label>
      </div>
      <mat-card-actions>
        <button class="mt-0 btn" (click)="return_listing()" *ngIf="data.mode == 'return_listing'">Yes</button>
        <button class="mt-0 btn" (click)="cancel()" *ngIf="data.mode == 'return_listing'">No</button>

        <button class="mt-0 btn" (click)="cancel()" *ngIf="data.mode == 'delete_listing'">Cancel</button>
        <button class="mt-0 btn" (click)="delete()" *ngIf="data.mode == 'delete_listing'">Yes, Delete</button>
        
        <button class="mt-0 btn" (click)="cancel()" *ngIf="data.mode == 'validation'">Ok</button>

        <button class="mt-0 btn" (click)="dashboard()" *ngIf="data.mode == 'dashboard'">Yes</button>
        <button class="mt-0 btn" (click)="cancel()" *ngIf="data.mode == 'dashboard'">No</button>

        <button class="mt-0 btn" (click)="discovery()" *ngIf="data.mode == 'discovery'">Yes</button>
        <button class="mt-0 btn" (click)="cancel()" *ngIf="data.mode == 'discovery'">No</button>

        <button class="mt-0 btn" (click)="settings()" *ngIf="data.mode == 'settings'">Yes</button>
        <button class="mt-0 btn" (click)="cancel()" *ngIf="data.mode == 'settings'">No</button>
      </mat-card-actions>
    </mat-card>
  </div>