.full{
  padding: 1em;
}
.mat-card{
  padding: 10px;
  text-align: center;
  box-shadow: none !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mat-card-image{
  width: 100% !important;
  margin: 5px 0 10px 0 !important;
}
.red {
  color: red;
}