<div class="full">
  <div class="grid">
    <div class="col-md-12 centered-bootstrap-cell">
      <div class="content" [ngSwitch]="current_section">
        <div class="main-data">
          <div class="scroll-inner">
            <div class="row">
              <div class="col-md-3">
                <ul class="nav nav-list sort-source mt-sm">
                  <li class="">
                    <a (click)="onSettings()">Settings</a>
                  </li>
                  <li [ngClass]="{'active': section_flag[0]}">
                    <a (click)="onGeneral()">General</a>
                  </li>
                  <li [ngClass]="{'active': section_flag[1]}">
                    <a (click)="onPage()">Page</a>
                  </li>
                  <li [ngClass]="{'active': section_flag[2]}">
                    <a (click)="onStore()">Store</a>
                  </li>
                  <li [ngClass]="{'active': section_flag[3]}">
                    <a (click)="onShippingAddresses()">Shipping Addresses</a>
                  </li>
                  <li [ngClass]="{'active': section_flag[4]}">
                    <a (click)="onBlocked()">Blocked</a>
                  </li>
                  <li [ngClass]="{'active': section_flag[5]}">
                    <a (click)="onModeration()">Moderation</a>
                  </li>
                  <li [ngClass]="{'active': section_flag[6]}">
                    <a (click)="onAdavanced()">Advanced</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-9">
                <!-- general section start -->
                <div class="general" *ngSwitchCase="'general'">
                  <div class="listings_1 mt-sm">
                    <div class="form card form-horizontal form-bordered">
                      <div class="form-group">
                        <label class="col-md-2 control-label">Language
                          <span class="required">*</span>: </label>
                        <div class="col-md-8">
                          <select class="form-control">
                            <option *ngFor="let temp of language_name">{{temp}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label">Country
                          <span class="required">*</span>: </label>
                        <div class="col-md-8">
                          <select2 [data]="country" [cssImport]=true [width]="600"></select2>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label">Currency
                          <span class="required">*</span>: </label>
                        <div class="col-md-8">
                          <select2 [data]="currency" [cssImport]=true [width]="600"></select2>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label">Display Mature Content
                          <span class="required">*</span>: </label>
                        <div class="col-md-10">
                          <input type="radio" id="general_yes" name="general_mature" value="true" [(ngModel)]="general_mature">
                          <label for="general_yes" style="margin: 10px 0 0 10px;">Yes</label>
                          <input type="radio" id="general_no" name="general_mature" value="false" [(ngModel)]="general_mature" style="margin-left: 3em;">
                          <label for="general_no" style="margin: 10px 0 0 10px;">No</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- general section end -->

                <!-- page section start -->
                <div class="page" *ngSwitchCase="'page'" [ngSwitch]="page_no">
                  <div class="listings_1 mt-sm" *ngSwitchCase="1">
                    <div class="form card form-horizontal form-bordered">
                      <div class="form-group">
                        <label class="col-md-2 control-label">Name
                          <span class="required">*</span>: </label>
                        <div class="col-md-10">
                          <input class="form-control" [(ngModel)]="page_name" required #re_pageName="ngModel">
                          <div *ngIf="re_pageName && save_flag" class="validation">
                            Please input this filed.
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label">Short Description: </label>
                        <div class="col-md-10">
                          <textarea class="form-control" rows="3" [(ngModel)]="page_description"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label">Location: </label>
                        <div class="col-md-10">
                          <input class="form-control" [(ngModel)]="page_location">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label">Avatar: </label>
                        <div class="col-md-10">
                          <div class="col-md-6 avatar">
                            <img class="img-circle" src="{{page_avatarUrl}}">
                          </div>
                          <div class="col-md-6 upload">
                            <label for="upload_file" class="mb-none p-xs">Select Photo</label>
                          </div>
                          <input type="file" name="upload_file" id="upload_file" accept="image/*" (change)="onAvatarSelected($event)">
                        </div>
                      </div>
                    </div>
                    <div class="form card form-horizontal form-bordered mt-xl">
                        <div class="description">
                          <h4 class="mb-md">About</h4>
                          <app-ngx-editor [placeholder]="'Enter text here...'" [config]="editorConfig" [spellcheck]="true" [(ngModel)]="page_about"></app-ngx-editor>
                        </div>
                      </div>
                  </div>

                  <div class="listings_1 mt-sm" *ngSwitchCase="2">
                    <div class="form card form-horizontal form-bordered">
                      <h4 class="col-md-3">Links</h4>
                      <div class="form-group">
                        <label class="col-md-2 control-label">Website:</label>
                        <div class="col-md-10">
                          <input class="form-control" [(ngModel)]="page_website">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label">Email: </label>
                        <div class="col-md-10">
                          <input class="form-control" [(ngModel)]="page_email">
                        </div>
                      </div>
                      <div class="form-group mb-none">
                        <label class="col-md-2 control-label">Social Account: </label>
                        <div class="col-md-9">
                          <input class="col-md-6 form-control" placeholder="FaceBook" [(ngModel)]="account_facebook">
                          <div class="col-md-1"></div>
                          <input class="col-md-5 form-control" placeholder="Handle or Link to Page" [(ngModel)]="account_handle">
                        </div>
                        <div class="col-md-1">
                          <div class="form-group">
                            <button class="mt-none btn pull-right" (click)="onDeleteFirstAccount()">
                              <i class="fa fa-trash"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-none" *ngFor="let temp of page_account;let i = index;">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-9">
                          <input class="col-md-6 form-control" placeholder="FaceBook" [(ngModel)]="temp.facebook">
                          <div class="col-md-1"></div>
                          <input class="col-md-5 form-control" placeholder="Handle or Link to Page" [(ngModel)]="temp.handle">
                        </div>
                        <div class="col-md-1">
                          <div class="form-group">
                            <button class="mt-none btn pull-right" (click)="onDeleteAccount(i)">
                              <i class="fa fa-trash"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-3">
                          <a (click)="onAddAccount()">
                            <i class="fa fa-plus"></i>&nbsp;&nbsp;
                            <span class="label">Add Social Account</span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="form card form-horizontal form-bordered mt-xl">
                        <h4 class="col-md-3">Theme</h4>
                        <div class="form-group">
                          <label class="col-md-2 control-label">Cover Photo:</label>
                          <div class="col-md-10">
                            <div class="test">
                              <img src="{{page_coverUrl}}" style="width: 100%; height: 200px;">
                              <div class="cover">
                                <label for="cover_file" class="mb-none p-xs">Select Photo</label>
                              </div>
                              <input type="file" name="cover_file" id="cover_file" accept="image/*" (change)="onCoverSelected($event)">
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <!-- page section end -->

                <!-- store section start -->
                <div class="store" *ngSwitchCase="'store'">
                  <div class="listings_1 mt-sm">
                    <div class="form card form-horizontal form-bordered">
                      <div class="form-group">
                        <label class="col-md-2 control-label">Store
                          <span class="required">*</span>: </label>
                        <div class="col-md-10">
                          <input type="radio" id="store_on" name="store_store" value="on" [(ngModel)]="store_store">
                          <label for="store_on" style="margin: 10px 0 0 10px;">On</label>
                          <input type="radio" id="store_off" name="store_store" value="off" [(ngModel)]="store_store" style="margin-left: 3em;">
                          <label for="store_off" style="margin: 10px 0 0 10px;">Off</label>
                        </div>
                      </div>
                      <div class="form-group" *ngIf="selected_moderators.length == 0">
                        <label class="col-md-2 control-label">Moderators: </label>
                        <div class="col-md-10">
                          <label>Selected Moderators</label>
                          <div class="col-md-12 selected_none">
                            <div class="moderator-no">
                              <label>No Moderators Added</label>
                              <p>Only direct payement is available in your store</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group" *ngIf="selected_moderators.length > 0">
                        <label class="col-md-2 control-label">Moderators: </label>
                        <div class="col-md-10">
                          <label>Selected Moderators</label>
                          <div class="selected-moderators col-md-12">
                            <div class="moderator col-md-12" *ngFor="let temp of selected_moderators;let i = index;">
                              <div class="col-md-1 store-avatar">
                                <img class="img-circle" src="{{temp['avatar']}}">
                              </div>
                              <div class="col-md-9">
                                <label>{{temp['name']}}</label>
                                <p class="mb-none">{{temp['description']}}</p>
                                <p>English(United States)</p>
                                <span>1%**
                                  <img src="/assets/img/store/location.png" width="16px;">{{temp['location']}}</span>
                              </div>
                              <div class="col-md-2">
                                <button class="btn mt-none">View</button>
                                <button class="btn" *ngIf="!temp['selected']" (click)="onSelectedModerators(i)">
                                  <i class="fa fa-check"></i>
                                </button>
                                <button class="btn" *ngIf="temp['selected']" (click)="onSelectedModerators(i)"><i class="fa fa-times"></i></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                          <div class="col-md-12 search">
                            <input class="col-md-10 form-control">
                            <div class="col-md-2 pr-none">
                              <button class="btn mt-none pull-right" (click)="onFindModerators()">Find</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group" *ngIf="available_moderators.length == 0">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                          <label>Available Moderators on the Network</label>
                          <div class="col-md-12 selected_none">
                            <div class="moderator-browse">
                              <button mat-raised-button class="btn" (click)="onBrowserModerators()">Browse Moderators</button>
                              <div class="spinner-box fixed" *ngIf="showSpinner">
                                <mat-spinner [diameter]="100"></mat-spinner>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group" *ngIf="available_moderators.length > 0">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                          <label>Available Moderators on the Network</label>
                          <div class="selected-moderators col-md-12">
                            <div class="moderator col-md-12" *ngFor="let temp of available_moderators;let i = index;">
                              <div class="col-md-1 store-avatar">
                                <img class="img-circle" src="{{temp['avatar']}}">
                              </div>
                              <div class="col-md-9">
                                <label>{{temp['name']}}</label>
                                <p class="mb-none">{{temp['description']}}</p>
                                <p>{{temp['language']}}</p>
                                <span>1%**
                                  <img src="/assets/img/store/location.png" width="16px;">{{temp['location']}}</span>
                              </div>
                              <div class="col-md-2">
                                <button class="btn mt-none">View</button>
                                <button class="btn" *ngIf="!temp['selected']" (click)="onAvailableModerators(i)">
                                  <i class="fa fa-check"></i>
                                </button>
                                <button class="btn" *ngIf="temp['selected']" (click)="onAvailableModerators(i)"><i class="fa fa-times"></i></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- store section end -->

                <!-- shipping addresses section start -->
                <div class="shipping" *ngSwitchCase="'shipping'">
                  <div class="listings_1 mt-sm">
                    <div class="form card form-horizontal form-bordered">
                      <div class="form-group">
                        <label class="col-md-2 control-label">Existing Addresses: </label>
                        <select class="form-control col-md-4" [(ngModel)]="selected_shipping">
                          <option value="{{i}}" *ngFor="let temp of shipping_addresses;let i = index;">{{temp.name}}</option>
                        </select>
                        <div class="col-md-4">
                          <button mat-raised-button class="btn mt-none pull-right" (click)="onRemoveAddress()">Remove this address</button>
                        </div>
                      </div>
                    </div>
                    <div class="form card form-horizontal form-bordered mt-md">
                      <h4 class="col-md-3">New Address</h4>
                      <div class="form-group">
                        <label class="col-md-2 control-label">Name
                          <span class="required">*</span>: </label>
                        <div class="col-md-8">
                          <input class="form-control" placeholder="Your name / name of recipient" [(ngModel)]="new_address['name']" required #re_shippingName="ngModel">
                          <div *ngIf="re_shippingName.invalid && save_flag" class="validation">
                            Please input this filed.
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label">Company: </label>
                        <div class="col-md-8">
                          <input class="form-control" placeholder="optional" [(ngModel)]="new_address['company']">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label">Street: </label>
                        <div class="col-md-8">
                          <input class="form-control" placeholder="427 N Greenfield Road" [(ngModel)]="new_address['street']">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label">Apt/Unit/Suite: </label>
                        <div class="col-md-4">
                          <input class="form-control" placeholder="optional" [(ngModel)]="new_address['apt']">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label">City: </label>
                        <div class="col-md-8">
                          <input class="form-control" placeholder="Chicago" [(ngModel)]="new_address['city']">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label">State/Province/Region: </label>
                        <div class="col-md-8">
                          <input class="form-control" placeholder="IL" [(ngModel)]="new_address['state']">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label">Postal Code: </label>
                        <div class="col-md-4">
                          <input class="form-control" placeholder="60654" [(ngModel)]="new_address['code']">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label">Country: </label>
                        <div class="col-md-8">
                          <select2 [data]="country" [cssImport]=true [width]="600"></select2>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label">Delivery Notes: </label>
                        <div class="col-md-8">
                          <textarea class="form-control" rows="2" placeholder="e.g. leave packages behind bush" [(ngModel)]="new_address['notes']"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-8">
                          <button mat-raised-button class="btn pull-right mt-none" (click)="onAddAddress()">Add Address</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- shipping addresses section end -->

                <!-- moderation section start -->
                <div class="moderation" *ngSwitchCase="'moderation'">
                  <div class="listings_1 mt-sm">
                    <div class="form card form-horizontal form-bordered">
                      <h4 class="col-md-3">Dispute Resolution</h4>
                      <p class="col-md-12">Sellers have the ability to select you as a Moderator for their store. If a dispute arises between
                        them and a customer, you'll be called in to review the details of the order and determine how the
                        order's funds should be distributed.
                      </p>
                      <div class="form-group">
                        <label class="col-md-2 control-label">Moderate Disputes
                          <span class="required">*</span>: </label>
                        <div class="col-md-8">
                          <input type="radio" id="moderation_on" name="moderation_disputes" value="true" [(ngModel)]="moderation_disputes">
                          <label for="moderation_on" style="margin: 10px 0 0 10px;">On</label>
                          <input type="radio" id="moderation_off" name="moderation_disputes" value="false" [(ngModel)]="moderation_disputes" style="margin-left: 3em;">
                          <label for="moderation_off" style="margin: 10px 0 0 10px;">Off</label>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label">Price per dispute
                          <span class="required">*</span>: </label>
                        <div class="col-md-3">
                          <select class="form-control" [(ngModel)]="disputes_select">
                            <option>Percentage</option>
                            <option>Fixed</option>
                            <option>Fixed Plus Percentage</option>
                          </select>
                        </div>
                        <div class="col-md-4 pr-none" *ngIf="disputes_select == 'Fixed' || disputes_select == 'Fixed Plus Percentage'">
                          <input class="form-control mr-md" value="0.00" style="display: inline; width: 80px;">
                          <select2 [data]="currency" [cssImport]=true [width]="200"></select2>
                        </div>
                        <div class="col-md-2 pl-none" *ngIf="disputes_select == 'Percentage' || disputes_select == 'Fixed Plus Percentage'">
                          <input class="form-control" value="0" style="display:inline;width: 60px;">
                          <span>%</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label">Description
                          <span class="required">*</span>: </label>
                        <div class="col-md-8">
                          <textarea class="form-control" rows="5" [(ngModel)]="moderation_description"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label">Terms
                          <span class="required">*</span>: </label>
                        <div class="col-md-8">
                          <textarea class="form-control" rows="5" [(ngModel)]="moderation_terms"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label">Languages
                          <span class="required">*</span>: </label>
                        <div class="col-md-8">
                          <ng-multiselect-dropdown [placeholder]="'Select Language'" [data]="language_name" [(ngModel)]="selected_languages" [settings]="languages_Settings">
                          </ng-multiselect-dropdown>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-8">
                          <input type="checkbox">I have read recommended&nbsp;
                          <a href="https://openbazaar.org/openbazaar-dispute-resolution-guidelines/" target="_blank">OpenBazaar Dispute Resolution Guidelines</a>
                          <br>
                          <input type="checkbox">I understand I must offer my services to resolve disputes to anyone that requests them, unless,
                          they violate the terms described above.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- moderation section end -->

                <!-- advanced section start -->
                <div class="advanced" *ngSwitchCase="'advanced'">
                  <div class="listings_1 mt-sm">
                    <div class="form card form-horizontal form-bordered">
                      <h4 class="col-md-3">Email Alert Settings</h4>
                      <div class="form-group">
                        <label class="col-md-2 control-label">Notifications: </label>
                        <div class="col-md-4">
                          <input type="radio" id="notification_on" name="advanced_notification" value="true" [(ngModel)]="advanced_notification">
                          <label for="notification_on" style="margin: 10px 0 0 10px;">On</label>
                          <input type="radio" id="notification_off" name="advanced_notification" value="false" [(ngModel)]="advanced_notification" style="margin-left: 3em;">
                          <label for="notification_off" style="margin: 10px 0 0 10px;">Off</label>
                        </div>
                        <label class="col-md-1 control-label pr-none">Send to
                          <span class="required">*</span>: </label>
                        <div class="col-md-5">
                          <input class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="form card form-horizontal form-bordered mt-xl">
                      <h4 class="col-md-3">Transactions</h4>
                      <div class="form-group">
                        <label class="col-md-2 control-label">Save Metadata: </label>
                        <div class="col-md-8">
                          <input type="radio" id="metadata_on" name="advanced_metadata" value="true" [(ngModel)]="advanced_metadata">
                          <label for="metadata_on" style="margin: 10px 0 0 10px;">On</label>
                          <input type="radio" id="metadata_off" name="advanced_metadata" value="false" [(ngModel)]="advanced_metadata" style="margin-left: 3em;">
                          <label for="metadata_off" style="margin: 10px 0 0 10px;">Off</label>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label">Bitcoin Fee: </label>
                        <div class="col-md-8">
                          <input type="radio" id="Economic" name="advanced_bitcoinFee" value="Economic" [(ngModel)]="advanced_bitcoinFee">
                          <label for="Economic" style="margin: 10px 0 0 10px;">Economic</label>
                          <input type="radio" id="Normal" name="advanced_bitcoinFee" value="Normal" [(ngModel)]="advanced_bitcoinFee" style="margin-left: 3em;">
                          <label for="Normal" style="margin: 10px 0 0 10px;">Normal</label>
                          <input type="radio" id="Priority" name="advanced_bitcoinFee" value="Priority" [(ngModel)]="advanced_bitcoinFee" style="margin-left: 3em;">
                          <label for="Priority" style="margin: 10px 0 0 10px;">Priority</label>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label">Reload Transactions: </label>
                        <div class="col-md-2">
                          <button mat-raised-button class="btn mt-none">Reload Transactions</button>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label">Block Data: </label>
                        <div class="col-md-8">
                          <button mat-raised-button class="btn mt-none">Show Block Data</button>
                        </div>
                      </div>
                    </div>
                    <div class="form card form-horizontal form-bordered mt-xl">
                      <h4 class="col-md-3">Store Server Operations</h4>
                      <div class="form-group">
                        <label class="col-md-2 control-label">Peers: </label>
                        <div class="col-md-2">
                          <button mat-raised-button class="btn mt-none">Show Connected Peers</button>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label">Purge Shared Files: </label>
                        <div class="col-md-8">
                          <button mat-raised-button class="btn mt-none">Purge Files</button>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label">Backup Wallet Seed: </label>
                        <div class="col-md-10">
                          <button mat-raised-button class="btn mt-none" (click)="onShowSeed()" *ngIf="!advanced_showSeed">Show Seed</button>
                          <div class="seed pt-sm" *ngIf="advanced_showSeed">
                            <p>Your wallet generation seed is:</p>
                            <p style="border: 1px solid #ddd;padding: 10px;">dog gun logic apple faculty puppy industry bulb climb industry drill hover</p>
                            <p>Write the following words on paper and keep them somewhere safe. They must be in this exact order.</p>
                            <label>Warning:</label>
                            <p>
                              <li>Never share your seed. Anyone with this seed can steal your funds.</li>
                              <li>Never type it on a website.</li>
                              <li>Do not store it electronically.</li>
                              <li>Do not lose your seed, or your funds will be permanently lost if your data is erased.</li>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- advanced section end -->
              </div>
            </div>
          </div>
        </div>

        <div class="bottom-bar mt-md">
          <div class="col-md-12 form-horizontal form-bordered">
            <div class="portfolio-title" *ngIf="current_section == 'page'">
              <div class="row">
                <div class="col-md-3"></div>
                <div class="portfolio-nav col-md-6">
                  <a (click)="previous()" class="portfolio-nav-prev pull-left" [ngClass]="{'disabled': page_no == 1}">
                    <i class="fa fa-chevron-left"></i>
                    <span class="prev">Previous</span>
                  </a>
                  <a (click)="next()" class="portfolio-nav-next pull-right" [ngClass]="{'disabled': page_no == 2}">
                    <span class="next">Next</span>
                    <i class="fa fa-chevron-right"></i>
                  </a>
                </div>
                <div class="col-md-3"></div>
              </div>
            </div>

            <div class="row pr-md">
              <div class="col-lg-12 pr-none">
                <div class="pull-right">
                  <button mat-raised-button class="btn submit-btn" (click)="onCancel()">Cancel</button>
                  <button mat-raised-button class="btn submit-btn" (click)="onSave()">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>