.full {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 5em 0 4em 0;
}

.grid {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
}

.content {
  padding: 0 2em 2em;
}

.main-data {
  height: 700px;
  width: 100%;
  // overflow-y: hidden;
  overflow-x: hidden;
}

.scroll-inner {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.form-horizontal .control-label {
  padding-top: 10px;
  margin-bottom: 0;
}

.required {
  display: inline-block;
  color: #d2322d;
  font-size: 0.8em;
  font-weight: bold;
  position: relative;
  top: -0.2em;
}

.listings_1 .form {
  padding: 20px 0 0 0;
}

span.prev {
  font-weight: normal;
  font-size: 1.7em;
  margin-left: 15px;
}

span.next {
  font-weight: normal;
  font-size: 1.7em;
  margin-right: 15px;
}

a {
  cursor: pointer;
  color: #0088cc !important;
}

a.disabled {
  color: #AAA !important;
  cursor: default;
}

button.mt-none {
  margin-top: 0 !important;
}

.description {
  background-color: #fff;
  padding: 0 15px 15px 15px;
}

.card {
  padding-bottom: 15px;
}

h4, .h4 {
  font-size: 1.2rem;
}

div.trash {
  margin-top: 8px;
  float: right;
}

.form-horizontal label {
  font-weight: normal;
}

#upload_file {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

#cover_file {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.upload {
  width: 150px;
  text-align: center;
  border: 1px solid #DDD;
  margin: 80px 0 0 60px;
}

.cover {
  margin-top: 10px;
  width: 150px;
  text-align: center;
  border: 1px solid #DDD;
}

.validation {
  color: red;
}

.col-md-3 {
  padding-right: 10px;
}

.img-circle {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 2px solid #DDD;
  padding: 2px;
}

ul {
  background: white;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.nav {
  display: table;
  width: 100%;
}

li.active > a {
  font-size: 1.2rem;
  color: black !important;
}

li a {
  font-size: 1.2rem;
  color: #666 !important;
}

// store section start
.moderator .btn {
  width: 80px;
}

.store-avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid #DDD;
  padding: 2px;
}

.selected-moderators {
  padding: 0 15px 15px 15px;
  border: 1px solid #ddd;
}

.moderator {
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #ddd;
}

.search {
  padding: 15px 0 15px 0;
}

.selected_none {
  border: 1px solid #ddd;
  height: 200px;
  text-align: center;
}

.moderator-no {
  position: absolute;
  top: 30%;
  left: 30%;
}

.moderator-browse {
  position: absolute;
  top: 30%;
  left: 40%;
}
// store section end