.grid {
    height: 100%;
    // overflow: auto;
    padding: 5em 0 4em 0;
    box-sizing: border-box;
}

.content {
    background-color: #ffffff;
    padding: 0 2em 2em;
}

.scroll-inner {
    width: 100%;
    height: 700px;
    overflow-y: scroll;
}

.table-bordered {
    border: 1px solid #e9ecef;
}

.table>thead>tr>th {
    text-align: left;
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    border-top: 1px solid #ddd;
}

.table {
    border-collapse: collapse;
}

.ml-xl {
    margin-left: 15px;
}

.ver-center {
    vertical-align: middle;
}

.ver-center img {
    width: 32px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.store_name {
    display: block;
    padding-top: 5px;
    margin-bottom: 0;
}

label {
    font-weight: normal
}

    
  
  