<div class="storemanager full">
  <div class="grid">
    <div class="col-xs-10 centered-bootstrap-cell">
      <div class="content">
        <div class="mb-xl pull-right pr-md">
          <button mat-raised-button class="btn submit-btn" (click)="storePage()">Create a New Store&nbsp;&nbsp;
              <i class="fa fa-plus"></i>
          </button>
        </div>
        <div class="scroll-inner">
          <div class="table">
            <table class="table table-responsive-md table-bordered mb-0">
              <thead>
                <tr>
                  <th>Store Name</th>
                  <th>Launch Date</th>
                  <th>Listing Quantity</th>
                  <th>CurrentState</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let store of stores">
                    <td (click)="storeListings(store.key)" style="cursor: pointer;">
                      <div style="width: 120px; text-align: center">
                      <img src="{{store.logo}}" alt="" width="96px;">
                      <label class="store_name">{{store.name}}</label>
                      </div>
                    </td>
                    <td class="ver-center"><label>{{store.date}}</label></td>
                    <td class="ver-center"><label>{{store.cntListings}}</label></td>
                    <td class="ver-center">
                      <img src="/assets/img/store/run_active.png" alt="">
                      <img class="ml-xl" src="/assets/img/store/stop_inactive.png" alt="">
                    </td>
                    <td class="ver-center">
                      <a href="#"><img src="/assets/img/store/edit.png" alt=""></a>
                      <a href="#" class="ml-xl"><img src="/assets/img/store/delete.png" alt=""></a>
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
</div>
