<div class="full">
  <div class="grid">
    <div class="col-xs-12 centered-bootstrap-cell">
      <div class="row">
        <div class="col-md-6">
          <img src="{{store_logo}}" class="img-responsive img-circle" width="40px">
          <div class="store_detail">
            <h4 class="pt-md store-name">{{store_name}}</h4>
            <div class="product-ratings">
              <img src="/assets/img/store/location.png" width="16px;">
              <span>{{store_location}}&nbsp;&nbsp;</span>
              <div class="ratings-box">
                <div class="rating"></div>
              </div>
              <span>{{store_ratings['average']}}&nbsp;({{store_ratings['count']}})</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 nav">
          <div class="col-md-3 nav-item" [ngClass]="{'active': style_flags[0]}" (click)="onHome()">
            <label>Home</label>
          </div>
          <div class="col-md-3 nav-item" [ngClass]="{'active': style_flags[1]}" (click)="onStore()">
            <label>Store <span>{{allListings.length}}</span></label>
          </div>
          <div class="col-md-3 nav-item" [ngClass]="{'active': style_flags[2]}" (click)="onFollowing()">
            <label>Following <span>{{allFollowing.length}}</span></label>
          </div>
          <div class="col-md-3 nav-item" [ngClass]="{'active': style_flags[3]}" (click)="onFollowers()">
            <label>Followers <span>{{allFollowers.length}}</span></label>
          </div>
        </div>
      </div>
      <div class="img-thumbnail">
        <img class="img-responsive" src={{banner_url}} alt="">
        <div class="customize">
          <button class="btn mt-none mb-sm" (click)="onCustomize()">
            <span>Customize</span>
          </button>
          <button class="btn mt-none mb-sm" (click)="onCreateListing()">
            <span>Create Listing</span>
          </button>
        </div>
      </div>

      <div class="content">
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-8 return pl-none">
              <button class="btn mt-none mb-sm" (click)="onReturnStore()">
                <i class="fa fa-chevron-left"></i>
                <span>Return to Stores</span>
              </button>
            </div>
          </div>
          <div class="row">
            <form class="form-horizontal form-bordered" action="#">
              <div class="form-group">
                <h4 class="col-md-4 control-label">Shipping </h4>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Ships to: </label>
                <div class="col-md-8">
                  <select2 [data]="shippings" [cssImport]=true [width]="200" (valueChanged)="onChangedShips($event)"></select2>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-8">
                  <div class="checkbox-custom checkbox-default">
                    <input type="checkbox" checked="" id="checkboxExample1">
                    <label for="checkboxExample1">Free Shipping</label>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="row mt-xl">
            <form class="form-horizontal form-bordered" ngNoForm>
              <div class="form-group">
                <h4 class="col-md-4 control-label font">Category </h4>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <ng-multiselect-dropdown [placeholder]="'Select Category'" [data]="allCategories" [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                    (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelect)="onItemSelect($event)"
                    (onDeSelectAll)="onSelectAll($event)">
                  </ng-multiselect-dropdown>
                </div>
              </div>
            </form>
          </div>
          <div class="row mt-xl">
            <form class="form-horizontal form-bordered" ngNoForm>
              <div class="form-group">
                <h4 class="col-md-12 control-label font">Switch Stores </h4>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <select class="form-control populate" [(ngModel)]="store_name" (change)="onSwitchStores($event.target.value)">
                    <option value="{{store.name}}" *ngFor="let store of stores;">{{store.name}}</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="col-md-9 pr-none">
          <div class="row pr-none ml-none mr-none">
            <label class="col-md-3 pl-none" style="margin-top:15px;">
              <b>{{allListings.length}} Listings</b> &nbsp;&nbsp; found </label>

            <div class="col-md-5">
              <div class="input-group">
                <input class="form-control" placeholder="Search..." type="text" (keyup)="onSearch($event)" [(ngModel)]="str_search">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-lg" (click)="onBtnSearch()">
                    <i class="fa fa-search" style="font-size: 14px;"></i>
                  </button>
                </span>
              </div>
            </div>

            <div class="col-md-4 pr-none">
              <div class="form-horizontal sort">
                <label class="col-md-3 control-label">Sort By: </label>
                <div class="col-md-9 pr-none pl-none">
                  <select class="form-control" (change)="onSortBy($event.target.value)" [(ngModel)]="sort">
                    <option *ngFor="let item of listItems;let i = index;" value="{{i}}">
                      {{item}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <ul class="col-md-12 portfolio-list lightbox m-none">
              <li class="col-md-3 col-sm-6 col-xs-12" *ngFor="let listings of allListings">
                <div class="portfolio-item">
                  <span class="thumb-info thumb-info-lighten thumb-info-centered-icons">
                    <span class="thumb-info-wrapper" (click)="onListingDisplay(listings.listingsID)" style="cursor: pointer;">
                      <img src={{listings.file}} class="img-responsive" alt="">
                      <span class="thumb-info-action">
                        <a class="lightbox-portfolio" (click)="listings_edit(listings.listingsID)">
                          <span class="thumb-info-action-icon thumb-info-action-icon-light">
                            <i class="fa fa-edit"></i>
                          </span>
                        </a>
                        <a class="lightbox-portfolio" (click)="listings_clone(listings.listingsID)">
                          <span class="thumb-info-action-icon thumb-info-action-icon-light">
                            <i class="fa fa-copy"></i>
                          </span>
                        </a>
                        <a class="lightbox-portfolio" (click)="listings_remove(listings.listingsID)">
                          <span class="thumb-info-action-icon thumb-info-action-icon-light">
                            <i class="fa fa-trash"></i>
                          </span>
                        </a>
                      </span>
                    </span>
                    <span class="thumb-info-caption">
                      <span class="thumb-info-caption-text">{{listings.title}}</span>
                      <span class="thumb-info-social-icons">
                        <div class="product-ratings">
                          <div class="ratings-box">
                            <div class="rating"></div>
                          </div>
                        </div>
                        <label class="mb-0">{{store_ratings['average']}}&nbsp;({{store_ratings['count']}})</label>
                        <label class="label mb-0 pull-right">${{listings.price}}</label>
                      </span>
                    </span>
                  </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>