.full {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 5em 0 4em 0;
}

.grid {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px;
    box-sizing: content-box;
}

.img-thumbnail .img-responsive {
    width: 100%;
    height: 300px;
    position: relative;
}

.customize {
    position: absolute;
    right: 10%;
    bottom: 10%;
}

.content {
    // padding: 0 2em 2em;
    margin-top: 30px;
    background-color: #fff;
}

form {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    // text-align: right;
}

.checkbox-custom {
    position: relative;
    padding: 0 0 0 25px;
    margin-bottom: 7px;
    margin-top: 0;
}


.checkbox-custom input[type="checkbox"]:checked + label:after {
    position: absolute;
    display: inline-block;
    font-family: 'FontAwesome';
    content: '\F00C';
    top: 50%;
    left: 4px;
    margin-top: -5px;
    font-size: 11px;
    line-height: 1;
    width: 16px;
    height: 16px;
    color: #333;
}

.checkbox-custom label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -9px;
    width: 19px;
    height: 18px;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #bbb;
    background: #fff;
}

.checkbox-custom label {
    cursor: pointer;
    margin-bottom: 0;
    text-align: left;
    line-height: 1.5;
}

input[type="radio"], input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

.checkbox-custom input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 3px;
    margin: -6px 0 0 0;
    z-index: 2;
    cursor: pointer;
}

.sort {
    float: right;
    font-weight: normal;
    width: 100%;
}

.thumb-info-caption-text {
    margin: 0;
}

.thumb-info-social-icons {
    padding: 5px 5px;
}

.product-ratings .ratings-box .rating:before {
    font-family: "FontAwesome";
    content: "\f005";
    width: 10px;
    height: 11px;
    color: #ffc600;
    display: block;
    font-size: 11px;
    line-height: 11px;
}

.product-ratings .ratings-box {
    position: relative;
    display: inline-block;
    margin-top: 1.5px;
    overflow: hidden;
    width: 10px;
    height: 11px;
    font-size: 0;
    line-height: 0;
    text-indent: -999em;
}

.product-ratings .ratings-box .rating {
    float: left;
    height: 11px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

.product-ratings {
    display: inline;
}

.portfolio-list {
    padding-top: 15px;
}

.lightbox-portfolio:hover {
    cursor: pointer;
}

ul.portfolio-list .portfolio-item {
    margin-bottom: 15px;
}

.return .btn {
    margin-top: 0 !important;
}

.multiselect-dropdown .dropdown-btn .selected-item {
    border: 1px solid #3399ff !important;
    background: #3399ff !important;
}

.nav {
    text-align: center;
}

.nav label {
    padding: 10px;
    font-weight: normal;
    cursor: pointer;
}

.nav-item {
    cursor: pointer;
}

.nav-item.active {
    border-bottom: 1px solid black;
}

.nav-item.active label {
    font-weight: bold;
}

.nav-item span {
    color: #13B511;
}

h4 {
    font-size: 1.2em;
}

.img-circle {
    border-radius: 50%;
    position: absolute;
}

h4.store-name {
    display: inline;
}

.store_detail {
    position: absolute;
    left: 70px;
}

.store_detail .product-ratings {
    display: block;
}

.product-ratings span {
    font-size: 14px;
}