// Variables
@import "/assets/css/variables";

// Mixins
@import "/assets/css/mixins";

// Bootstrap grid only
@import "~bootstrap-grid-only/bootstrap.css";
@import "~bootstrap/scss/bootstrap";

@import "~owl.carousel/dist/assets/owl.carousel.css";
@import "~owl.carousel/dist/assets/owl.theme.default.css";
@import "~ng2-file-input/ng2-file-input.scss";

// Common styles
@import "/assets/css/common";

// Material theme
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Overrides for prefered material theme
@import "/assets/css/material-override";


@import '~font-awesome/css/font-awesome.min.css';
@import '~@ngx-share/button/styles/share-buttons';
@import '~@ngx-share/button/styles/themes/default/default-theme';

@import '/assets/css/theme.css';
@import '/assets/css/theme-elements.css';
@import '/assets/css/default.css';


.logo{
  text-align: center;
  img{
    width: 45em;
  }
}

.login-form, .register-form{
  .form-title{
    text-align: center;
    font-weight: 500;
    font-size: 1.875em;
    color: #000;
  }
  .form-subtitle{
    padding-top: 0.9em;
    text-align: center;
    font-weight: 300;
    color: #999999;
  }
}

.form-wrap{
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}

.recaptcha{
  text-align: center;
  div{
    margin: 0 auto;
  }
}

.social-login{
  padding-top: 1.5em;
  padding-bottom: 3em;
  overflow: hidden;
  .title{
    font-weight: 500;
    color: #cccccc;
    position: relative;
    text-align: center;
    .content{
      position: relative;
      display: inline-block;
      &:before{
        content: "";
        display: block;
        position: absolute;
        top: 0.1em;
        bottom: 0;
        margin: auto;
        height: 1px;
        width: 150%;
        left: -180%;
        background: #cccccc;
      }
      &:after{
        content: "";
        display: block;
        position: absolute;
        top: 0.1em;
        bottom: 0;
        margin: auto;
        height: 1px;
        width: 150%;
        right: -180%;
        background: #cccccc;
      }
    }

  }
  .btns{
    text-align: center;
  }
}

.mat-dialog-container{
  padding: 0 !important;
}
